.dockerignore
helm
Dockerfile
README.md
tethysext-atcore/.github
tethysext-atcore/.stickler.yml
tethysext-atcore/docker
tethysext-atcore/docs
tethysext-atcore/helm
tethysext-atcore/tethysext/atcore/tests
tethysext-atcore/CITATION.cff
tethysext-atcore/Dockerfile
tethysext-atcore/*.sh
tethysext-atcore/*.ini
tethysext-atcore/**/__pycache__
tethysext-atcore/**/*.pyc
tethysext-atcore/**/*.egg-info
tribs-adapter/.venv
tribs-adapter/.flake8
tribs-adapter/build
tribs-adapter/dist
tribs-adapter/design
tribs-adapter/notebooks
tribs-adapter/tests
tribs-adapter/test_environment.yml
tribs-adapter/*.gltf
tribs-adapter/**/__pycache__
tribs-adapter/**/*.pyc
tribs-adapter/**/*.egg-info
